@use 'sass:color';
@use 'colors';
@import 'fonts';

::selection {
  color: color.invert(colors.$text);
  background-color: colors.$accent;
}

* {
  box-sizing: border-box;
}

html,
body,
h1,
p {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0.5rem;
}

h1 {
  font-family: 'Kreon', serif;
  font-size: 3rem;

  padding-bottom: 1rem;
}

i {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
}

html {
  background: colors.$background;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: colors.$text;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  &,
  &:link,
  &:visited,
  &:active {
    color: colors.$text;
    font-weight: inherit;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    outline: none;
    word-break: keep-all;
    white-space: nowrap;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: colors.$accent;
    z-index: -1;

    width: 100%;
    height: 0.25rem;

    transition: height 0.125s ease-in-out;
  }

  &:hover,
  &:focus {
    &::before {
      height: 100%;
    }
  }
}
