@use 'colors';

* {
  box-sizing: border-box;
}

html,
body,
h1,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  background: colors.$background;
  overflow: hidden;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
