registry = https://registry.npmjs.org/
access = restricted
allow-same-version = false
always-auth = false
audit = true
audit-level = low
color = always
engine-strict = true
force = false
node-options = --max_old_space_size=4096
prefer-online = true
progress = true
shell = bash
