@import 'styles.scss';

:host {
  width: 100%;
  height: 100%;

  display: block;
}

.main-page {
  width: 100%;
  height: 100%;

  padding: 6rem 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  &__background {
    display: block;
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;
  }
}
