{
  "arrowParens": "always",
  "bracketSpacing": true,
  "cursorOffset": 0,
  "endOfLine": "lf",
  "filepath": "none",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "quoteProps": "as-needed",
  "requirePragma": false,
  "insertPragma": false,
  "htmlWhitespaceSensitivity": "css"
}
