@import 'variables.scss';

.search-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: .05rem solid #b6b9ba;
  transition: all .3s;

  &_focused {
    border-bottom: .05rem solid #ff5050;
  }

  &__field {
    background: none;
    border: none;
    outline: none;
    color: #f4f4f4;
  }

  &__button {
    all: unset;
    background-image: url('/assets/icons/magnifier.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
