@import 'variables';
@import 'mixins';

:host {
  display: block;
  background-color: $color_white;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  @include flex-container(row, center, space-evenly, nowrap, 'normal');
}

.system {
  width: 40%;
  @include flex-container(column, center, center, nowrap, 'normal');
}

.layer {
  width: 100%;
  padding: 1rem;
  border: 0.0625rem $color_primary-red solid;
  box-sizing: border-box;
  @include flex-container(row, center, space-evenly, nowrap, 'normal');
}
