<div class="tools">
  <div class="tools__item">
    <span>
      node.js
    </span>
    <span class="arrow">
      ⇢
    </span>
  </div>
  <div class="tools__item">
    <span>
      Git
    </span>
    <span class="arrow">
      ⇢
    </span>
  </div>
  <div class="tools__item">
    <span>
      FTP
    </span>
    <span class="arrow">
      ⇢
    </span>
  </div>
  <div class="tools__item">
    <span>
      SSH
    </span>
    <span class="arrow">
      ⇢
    </span>
  </div>
  <div class="tools__item">
    <span>
      ...
    </span>
    <span class="arrow">
      ⇢
    </span>
  </div>
</div>
<div class="wsl">
  <img src="/assets/talks/why-do-you-need-wsl/slide-4-img.gif" />
  <h2 class="subtitle">WSL</h2>
</div>
