@use 'colors';
@import 'styles.scss';

:host {
  width: 100%;
  height: 100%;

  display: block;
}

.contacts {
  width: 100%;
  height: 100%;

  padding: 6rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__item {
    padding: 1rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: colors.$color_white;
    text-decoration: none;
    user-select: none;
    transition: all 0.3s;

    &:hover {
      color: colors.$color_red;
    }
  }
}

.contacts__item ~ .contacts__item {
  margin: 1rem 0 0 0;
}

.logo {
  width: 2rem;
  height: 2rem;
}
