@import 'variables.scss';

.lang-switcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;

  &__option {
    cursor: pointer;
    background: transparent;
    border: none;
    transition: all 0.3s;
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
    color: #b6b9ba;

    &_selected {
      cursor: default;
      pointer-events: none;
      color: $essential-color-red;
    }

    &_disabled {
      cursor: default;
      pointer-events: none;
      color: #b6b9ba;
    }
  }
}
