@import 'mixins';
@import 'variables';

:host {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.title {
  font-family: $font-family_satisfy;
  color: $color_white;
  padding: 1rem;
  margin: 0;
  user-select: none;
  @include flex-container(column, flex-start, flex-start, nowrap, 'normal');

  &_category {
    text-shadow: $text-shadow_title;
  }

  &_dark {
    color: $color_black;
    text-shadow: none;
    text-decoration: underline;
  }

  &__greeting {
    transform: rotate(-30deg);
    font-size: 6rem;
  }

  &__name {
    transform: rotate(-30deg);
    font-size: 3rem;
  }
}

.photo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: 95%;
  user-select: none;
  pointer-events: none;
}

.ticker-wrapper {
  width: 100%;
  height: 100%;
  @include flex-container(column, center, center, nowrap, 'normal');
}

.custom-background {
      position: absolute;
      top: -10%;
      height: 150%;
      width: 100%;
    transform: rotate(-10deg);
  @include flex-container(row, flex-start, flex-start, wrap, 'normal');


  &__element {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
  }
}
