<app-row-section type="primary" [style.height.vh]="95">
  <h1 class="title">
    <span class="title__greeting">
      Hello,
    </span>
    <span class="title__name">
      I am Fedor Usakov
    </span>
  </h1>
  <img class="photo" alt src="/assets/imgs/sample-photo.png" />
</app-row-section>

<app-row-section type="light" [style.height.vh]="75" [backgroundTemplateRef]="whoAmIBackground">
  <h3 class="title title_category title_dark">
    Who am I
  </h3>
  <app-teaser [values]="teaserValues"></app-teaser>
</app-row-section>

<ng-template #whoAmIBackground>
  <div class="custom-background">
    <div class="custom-background__content">
      <img class="custom-background__element" [src]="logoUrl" alt *ngFor="let logoUrl of logoUrls" />
    </div>
  </div>
</ng-template>

<app-row-section type="dark" [style.height.vh]="75">
  <h3 class="title title_category">
    Publications
  </h3>
  <div class="tiles"></div>
</app-row-section>
