@import 'variables.scss';

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  &__link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.3rem;
    margin: 0.2rem 0;
    width: 100%;
    cursor: pointer;
    color: #b6b9ba;
    text-decoration: none;
    transition: all 0.3s;
    white-space: nowrap;
    box-sizing: border-box;
    user-select: none;

    &_active {
      color: $essential-color-red;
      pointer-events: none;
      cursor: default;
    }

    &:hover {
      color: $essential-color-red;
    }
  }
}
