@use 'colors';
@import 'styles.scss';

:host {
  width: 100%;
  height: 100%;

  display: block;
  position: absolute;
  z-index: -1;

  top: 0;
  left: 0;
}

.background {
  width: 100%;
  height: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__placeholder {
    width: 100%;
    height: 100%;

    background: colors.$color_grey-dark;
    transition: all 1s;
  }
}
