@use 'colors';
@import 'styles.scss';

:host {
  display: block;
  width: 100%;
  height: fit-content;
}

.links {
  position: absolute;

  width: 100%;
  padding: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  top: unset;
  bottom: 0;

  &_top {
    top: 0;
    bottom: unset;
  }
}

.links__item ~ .links__item {
  margin: 0 0.5rem;
}
