@import 'variables.scss';

.repositories-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  &__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0 1rem;
  }

  &__item {
    margin: 0 0 .5rem;
    width: 100%;
  }
}
