@use 'colors';

:host {
  width: 100%;
  height: 100%;

  display: block;
  position: absolute;
  z-index: 1;

  top: 0;
  left: 0;

  user-select: none;
}

.title {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  padding: 1rem;
  box-sizing: border-box;

  color: rgba(colors.$color_white, 0.9);

  &__name {
    margin: 0 0 0.25rem 0;
  }

  &__position {
    font-size: 1.09375rem;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
