@font-face {
  font-family: 'Baloo Chettan 2';
  src: url('/assets/fonts/baloo-chettan-2/BalooChettan2-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo Chettan 2';
  src: url('/assets/fonts/baloo-chettan-2/BalooChettan2-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo Chettan 2';
  src: url('/assets/fonts/baloo-chettan-2/BalooChettan2-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo Chettan 2';
  src: url('/assets/fonts/baloo-chettan-2/BalooChettan2-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo Chettan 2';
  src: url('/assets/fonts/baloo-chettan-2/BalooChettan2-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
