// colors
$color_primary-red: #ff1744;
$color_grey-dark: #333333;
$color_grey-light: #e5e5e5;
$color_white: #ffffff;
$color_black: #000000;

// font-families
$font-family_satisfy: 'Satisfy', cursive;
$font-family_raleway: 'Raleway', sans-serif;

// text-shadow
$text-shadow_title: 0.125rem 0.125rem 0.5rem $color_black;

// box-shadow
$box-shadow_common: 0 0 0.5rem $color_black;
