$font-family_main: 'cormorant';
$font-color_main: #f4f4f4;
$font-color_secondary: #212121;

$navlink-color_main: #f4f4f4;
$navlink-color_hovered: #f4f4f4;
$navlink-color_active: #f4f4f4;

$background-color_main: #212121;
$background-color_secondary: #f4f4f4;

$essential-color-red: #ff5050;
