<section
  class="relative flex flex-col items-center justify-center size-full py-5"
>
  <app-background
    class="size-full absolute pointer-events-none"
    movement-step-duration="200000"
  ></app-background>

  <section
    class="flex flex-col min-[830px]:flex-row items-center justify-center gap-5 w-10/12 grow z-10"
  >
    <app-avatar></app-avatar>

    <section class="flex flex-col min-w-80 text-lg">
      <span>Hello and welcome! 👋</span>

      <span>
        I'm
        <h1 class="inline">Fedor Usakov</h1>
        ―&nbsp;
        <app-text-roulette
          swap-frequency="1750"
          [values]="[
            'software developer',
            'metalhead',
            'innovation seeker',
            'spell-caster',
            'experienced mentor',
            'seasoned manager',
            'coffee nerd',
            'system architect'
          ]"
        ></app-text-roulette>
      </span>

      <app-current-job-button
        class="mt-7 md:text-nowrap"
        href="https://sibe.io/?utm_source=usakov.dev&utm_medium=header-button"
      >
        Currently building the future of 3D collab with the epic Sibe squad 🚀
      </app-current-job-button>
    </section>
  </section>

  <app-contacts
    [contacts]="[
      {
        title: 'Email',
        iconSrc: '/icons/mail.svg',
        href: 'mailto:f@usakov.dev'
      },
      {
        title: 'LinkedIn',
        iconSrc: '/icons/linkedin.svg',
        href: 'https://linkedin.com/in/usakov/'
      },
      {
        title: 'Instagram',
        iconSrc: '/icons/instagram.svg',
        href: 'https://instagram.com/f.usakov/'
      }
    ]"
  ></app-contacts>
</section>
