<section class="flex flex-row items-center justify-center w-full py-5">
  <section class="flex flex-row items-center justify-center gap-5 w-10/12">
    <app-avatar class="w-[25vw] h-[25vw] saturate-50 contrast-125"></app-avatar>

    <section class="flex flex-col min-w-80">
      <span>Hello and welcome! 👋</span>

      <span>
        I'm
        <h1 class="inline">Fedor Usakov</h1>
        ―&nbsp;
        <app-text-roulette
          swap-frequency="1750"
          [values]="[
            'software developer',
            'metalhead',
            'innovation seeker',
            'spell-caster',
            'experienced mentor',
            'seasoned manager',
            'coffee nerd',
            'system architect'
          ]"
        ></app-text-roulette>
      </span>

      <app-current-job-button
        class="mt-7"
        href="https://sibe.io/?utm_source=usakov.dev&utm_medium=header-button"
      >
        Currently building the future of 3D collab with the epic Sibe squad 🚀
      </app-current-job-button>
    </section>
  </section>
</section>
