@import 'variables';
@import 'mixins';

:host {
  display: block;
  background-color: $color_white;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
  @include flex-container(row, center, space-evenly, nowrap, 'normal');
}

.subtitle {
  position: absolute;
  top: 0;
  color: $color_black;
  font-family: $font-family_raleway;
}

.version {
  height: 100%;
  width: 40%;
  // border: 0.0625rem $color_primary-red solid;
  @include flex-container(column, center, center, nowrap, 'normal');
}

.system {
  width: 100%;
  border: 0.0625rem $color_primary-red solid;
  position: relative;
  padding: 3rem 1rem 1rem;
  margin: 1rem;
  @include flex-container(column, center, center, nowrap, 'normal');

  &__title {
    position: absolute;
    top: 0;
    padding: 0.5rem;
    color: $color_primary-red;
  }

  &__component {
    color: $color_black;
  }
}
