<div class="version">
  <h2 class="subtitle">
    WSL 1
  </h2>
  <div class="system">
    <span class="system__title">
      Linux
    </span>
    <div class="system__component">
      Docker CLI
    </div>
  </div>
  <span class="arrow">
    ⇅
  </span>
  <div class="system">
    <span class="system__title">
      Windows
    </span>
    <div class="system__component">
      Docker Daemon
    </div>
  </div>
</div>
<div class="version">
  <h2 class="subtitle">
    WSL 2
  </h2>
  <div class="system">
    <span class="system__title">
      Linux
    </span>
    <div class="system__component">
      Docker CLI
    </div>
    <div class="system__component">
      Docker Daemon
    </div>
  </div>
  <span class="arrow">
    ⇅
  </span>
  <div class="system">
    <span class="system__title">
      Windows
    </span>
  </div>
</div>
