@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: #ff5050;
  transition: all 0.3s ease-in;
  padding: 1rem;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;

  &.hovered {
    background: #102027;

    a {
      color: #ff5050;
      border-color: #ff5050;
    }

    p {
      color: #78909c;
    }
  }
}

a {
  color: #fff;
  background: transparent;
  border: #fff solid 0.125rem;
  text-decoration: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 0.125rem;
  display: block;
  position: relative;
  box-sizing: border-box;

  &:hover {
    color: #000;
    border: #000 solid 0.125rem;
  }
}

p {
  font-size: 0.75rem;
  color: #455a64;
}
