<!-- <router-outlet></router-outlet> -->

<section [class.hovered]="isHovered()">
  <p>
    Это супер-временная страница, которую ты, скорее-всего, не увидишь уже через пару месяцев. Наслаждайся, пока можешь.
  </p>
  <a (mouseenter)="onEnter()" (mouseleave)="onLeave()" href="mailto:scarletflash.dev@gmail.com?subject=🤘">написать</a>
  <p>
    Если ты – коллега по цеху, нам в SNH MeisterSoft очень нужны крутые фронты, чтобы пилить крутые проекты на Angular.
    – Скидывай резюме на почту, и HR его увидит первым.
  </p>
</section>
