:host {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.sidebar-container {
  height: 100%;
  min-height: 100vh;
  width: 15%;
  min-width: 128px;
}

.main-container {
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  width: 85%;
  min-height: 100vh;
}
