<button
  class="button"
  [class.button_hovered]="isMouseOver$ | async"
  [class.button_active]="isActive"
  [class.button_disabled]="disabled"
  [style.width.px]="currentContentWidthPx$ | async"
  [style.height.px]="currentContentHeightPx$ | async"
>
  <div class="button__content" #contentElement (cdkObserveContent)="processContentMutation()">
    <ng-content></ng-content>
  </div>

  <div
    class="button__background"
    [style.width.px]="currentContentWidthPx$ | async"
    [style.height.px]="currentContentHeightPx$ | async"
    (mouseenter)="processMouseEnter()"
    (mouseleave)="processMouseLeave()"
  ></div>
</button>
