@use 'sass:color';
@use 'styles/colors';
@import 'styles/global';

.content {
  padding: 1rem;

  opacity: 1;
  transform-origin: top right;
  transform: none;

  transition-duration: 0.25s;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.9, -0.37, 0.43, 1.75);

  &_hidden {
    opacity: 0;
    transform: translate3d(-1rem, 1rem, 1rem) rotate3d(1, 1, 1, -15deg) skewX(15deg) scale(1.15, 1.15);
  }
}

.background-animation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  opacity: 1;
  transition: opacity 1s ease-in;

  &_hidden {
    opacity: 0;
  }
}

.teaser {
  padding: 2rem 0 0 0;
  color: color.adjust(colors.$background, $lightness: 50%);
}
