@import 'variables.scss';

.tile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #ffffff;
  padding: .5rem;
  box-sizing: border-box;
  color: #171717;
  box-shadow: #000000 0 .05rem .5rem;
}
